{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://www.mapquestapi.com/geocoding/v1/address?key=MY_SECRET_TOKEN&location=asdfasdf",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "X-Ratelimit-Limit-2628000": [
            "15000"
          ],
          "X-Ratelimit-Remaining-2628000": [
            "14587"
          ],
          "Ratelimit-Limit": [
            "15000"
          ],
          "Ratelimit-Remaining": [
            "14587"
          ],
          "Ratelimit-Reset": [
            "2028103"
          ],
          "Etag": [
            "W/\"29d-cY8otT5rwjGH8Iw1KD4TtC0hEu4\""
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"info\":{\"statuscode\":0,\"copyright\":{\"text\":\"© 2023 MapQuest, Inc.\",\"imageUrl\":\"http://api.mqcdn.com/res/mqlogo.gif\",\"imageAltText\":\"© 2023 MapQuest, Inc.\"},\"messages\":[]},\"options\":{\"maxResults\":-1,\"ignoreLatLngInput\":false},\"results\":[{\"providedLocation\":{\"location\":\"asdfasdf\"},\"locations\":[{\"street\":\"\",\"adminArea6\":\"\",\"adminArea5\":\"\",\"adminArea4\":\"\",\"adminArea3\":\"\",\"adminArea1\":\"US\",\"postalCode\":\"\",\"geocodeQualityCode\":\"A1XAX\",\"geocodeQuality\":\"COUNTRY\",\"dragPoint\":false,\"sideOfStreet\":\"N\",\"linkId\":\"0\",\"unknownInput\":\"\",\"type\":\"s\",\"latLng\":{\"lat\":38.89037,\"lng\":-77.03196},\"displayLatLng\":{\"lat\":38.89037,\"lng\":-77.03196},\"mapUrl\":\"\",\"source\":\"FALLBACK\"}]}]}"
        }
      },
      "recorded_at": "Mon, 25 Sep 2023 16:38:17 GMT"
    },
    {
      "request": {
        "method": "get",
        "uri": "https://openlibrary.org/search.json?limit=5&q=asdfasdf",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ],
          "X-Ol-Stats": [
            "\"SR 1 0.029 TT 0 0.030\""
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "{\n    \"numFound\": 2,\n    \"start\": 0,\n    \"numFoundExact\": true,\n    \"docs\": [\n        {\n            \"key\": \"/works/OL20683907W\",\n            \"type\": \"work\",\n            \"seed\": [\n                \"/books/OL27967669M\",\n                \"/works/OL20683907W\"\n            ],\n            \"title\": \"asdfasdf\",\n            \"title_suggest\": \"asdfasdf\",\n            \"title_sort\": \"asdfasdf\",\n            \"edition_count\": 1,\n            \"edition_key\": [\n                \"OL27967669M\"\n            ],\n            \"publish_date\": [\n                \"01/01/1999\"\n            ],\n            \"publish_year\": [\n                1999\n            ],\n            \"first_publish_year\": 1999,\n            \"last_modified_i\": 1588045816,\n            \"ebook_count_i\": 0,\n            \"ebook_access\": \"no_ebook\",\n            \"has_fulltext\": false,\n            \"public_scan_b\": false,\n            \"publisher\": [\n                \"dsdfg\"\n            ],\n            \"publisher_facet\": [\n                \"dsdfg\"\n            ],\n            \"_version_\": 1767909072387964928\n        },\n        {\n            \"key\": \"/works/OL4622085W\",\n            \"type\": \"work\",\n            \"seed\": [\n                \"/books/OL4884192M\",\n                \"/works/OL4622085W\",\n                \"/subjects/diaries\",\n                \"/subjects/german_personal_narratives\",\n                \"/subjects/world_war_1939-1945\",\n                \"/subjects/germany_history_1933-1945_underground_literature\",\n                \"/subjects/person:franz_halder_(1884-1972)\",\n                \"/subjects/place:germany\",\n                \"/subjects/time:1939-1942\",\n                \"/authors/OL948097A\"\n            ],\n            \"title\": \"The Halder diaries\",\n            \"title_suggest\": \"The Halder diaries\",\n            \"title_sort\": \"The Halder diaries\",\n            \"edition_count\": 1,\n            \"edition_key\": [\n                \"OL4884192M\"\n            ],\n            \"publish_date\": [\n                \"1976\"\n            ],\n            \"publish_year\": [\n                1976\n            ],\n            \"first_publish_year\": 1976,\n            \"number_of_pages_median\": 1594,\n            \"lccn\": [\n                \"76013871\"\n            ],\n            \"publish_place\": [\n                \"Boulder, Colo\"\n            ],\n            \"oclc\": [\n                \"2189197\"\n            ],\n            \"lcc\": [\n                \"DD-0247.00000000.H25 A2813 1976\"\n            ],\n            \"ddc\": [\n                \"940.5413430924\"\n            ],\n            \"isbn\": [\n                \"9780891581062\",\n                \"0891581065\"\n            ],\n            \"last_modified_i\": 1675132989,\n            \"ebook_count_i\": 0,\n            \"ebook_access\": \"no_ebook\",\n            \"has_fulltext\": false,\n            \"public_scan_b\": false,\n            \"readinglog_count\": 4,\n            \"want_to_read_count\": 4,\n            \"currently_reading_count\": 0,\n            \"already_read_count\": 0,\n            \"cover_edition_key\": \"OL4884192M\",\n            \"cover_i\": 13164614,\n            \"first_sentence\": [\n                \"asdfasdf\"\n            ],\n            \"publisher\": [\n                \"Westview Press\"\n            ],\n            \"language\": [\n                \"eng\"\n            ],\n            \"author_key\": [\n                \"OL948097A\"\n            ],\n            \"author_name\": [\n                \"Halder, Franz\"\n            ],\n            \"person\": [\n                \"Franz Halder (1884-1972)\"\n            ],\n            \"place\": [\n                \"Germany\"\n            ],\n            \"subject\": [\n                \"Diaries\",\n                \"German Personal narratives\",\n                \"World War, 1939-1945\",\n                \"Germany, history, 1933-1945, underground literature\"\n            ],\n            \"time\": [\n                \"1939-1942\"\n            ],\n            \"id_goodreads\": [\n                \"3626923\"\n            ],\n            \"id_librarything\": [\n                \"2485534\"\n            ],\n            \"publisher_facet\": [\n                \"Westview Press\"\n            ],\n            \"person_key\": [\n                \"franz_halder_(1884-1972)\"\n            ],\n            \"place_key\": [\n                \"germany\"\n            ],\n            \"time_facet\": [\n                \"1939-1942\"\n            ],\n            \"person_facet\": [\n                \"Franz Halder (1884-1972)\"\n            ],\n            \"subject_facet\": [\n                \"Diaries\",\n                \"German Personal narratives\",\n                \"Germany, history, 1933-1945, underground literature\",\n                \"World War, 1939-1945\"\n            ],\n            \"_version_\": 1767936016655581184,\n            \"place_facet\": [\n                \"Germany\"\n            ],\n            \"lcc_sort\": \"DD-0247.00000000.H25 A2813 1976\",\n            \"author_facet\": [\n                \"OL948097A Halder, Franz\"\n            ],\n            \"subject_key\": [\n                \"diaries\",\n                \"german_personal_narratives\",\n                \"germany_history_1933-1945_underground_literature\",\n                \"world_war_1939-1945\"\n            ],\n            \"time_key\": [\n                \"1939-1942\"\n            ],\n            \"ddc_sort\": \"940.5413430924\"\n        }\n    ],\n    \"num_found\": 2,\n    \"q\": \"asdfasdf\",\n    \"offset\": null\n}"
        }
      },
      "recorded_at": "Mon, 25 Sep 2023 16:38:18 GMT"
    },
[...]
    {
      "request": {
        "method": "get",
        "uri": "http://api.weatherapi.com/v1/forecast.json?days=5&q=38.89037,-77.03196",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "Key": [
            "1ec2e16d58cb4037b8d225426232209"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ],
          "Cdn-Pullzone": [
            "93447"
          ],
          "Cdn-Uid": [
            "8fa3a04a-75d9-4707-8056-b7b33c8ac7fe"
          ],
          "Cdn-Requestcountrycode": [
            "US"
          ],
          "Cdn-Proxyver": [
            "1.04"
          ],
          "Cdn-Requestpullsuccess": [
            "True"
          ],
          "Cdn-Requestpullcode": [
            "200"
          ],
          "Cdn-Cachedat": [
            "09/25/2023 16:38:18"
          ],
          "Cdn-Edgestorageid": [
            "1067"
          ],
          "Cdn-Status": [
            "200"
          ],
          "Cdn-Requestid": [
            "73ca73d289b787c7c6b934d4ba8c091e"
          ],
          "Cdn-Cache": [
            "EXPIRED"
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"location\":{\"name\":\"Washington\",\"region\":\"District of Columbia\",\"country\":\"United States of America\",\"lat\":38.89,\"lon\":-77.03,\"tz_id\":\"America/New_York\",\"localtime_epoch\":1695659897,\"localtime\":\"2023-09-25 12:38\"},\"current\":{\"last_updated_epoch\":1695659400,\"last_updated\":\"2023-09-25 12:30\",\"temp_c\":20.6,\"temp_f\":69.1,\"is_day\":1,\"condition\":{\"text\":\"Overcast\",\"icon\":\"//cdn.weatherapi.com/weather/64x64/day/122.png\",\"code\":1009},\"wind_mph\":9.4,\"wind_kph\":15.1,\"wind_degree\":350,\"wind_dir\":\"N\",\"pressure_mb\":1017.0,\"pressure_in\":30.04,\"precip_mm\":0.0,\"precip_in\":0.0,\"humidity\":70,\"cloud\":100,\"feelslike_c\":20.6,\"feelslike_f\":69.1,\"vis_km\":16.0,\"vis_miles\":9.0,\"uv\":4.0,\"gust_mph\":9.2,\"gust_kph\":14.8},\"forecast\":{\"forecastday\":[{\"date\":\"2023-09-25\",\"date_epoch\":1695600000,\"day\":{\"maxtemp_c\":19.5,\"maxtemp_f\":67.1,\"mintemp_c\":14.8,\"mintemp_f\":58.6,\"avgtemp_c\":15.9,\"avgtemp_f\":60.7,\"maxwind_mph\":8.9,\"maxwind_kph\":14.4,\"totalprecip_mm\":0.06,\"totalprecip_in\":0.0,\"totalsnow_cm\":0.0,\"avgvis_km\":7.0,\"avgvis_miles\":4.0,\"avghumidity\":90.0,\"daily_will_it_rain\":0,\"daily_chance_of_rain\":0,\"daily_will_it_snow\":0,\"daily_chance_of_snow\":0,\"condition\":{\"text\":\"Overcast\",\"icon\":\"//cdn.weatherapi.com/weather/64x64/day/122.png\",\"code\":1009},\"uv\":4.0},\"astro\":{\"sunrise\":\"06:58 AM\",\"sunset\":\"07:01 PM\",\"moonrise\":\"05:15 PM\",\"moonset\":\"01:57 AM\",\"moon_phase\":\"Waxing Gibbous\",\"moon_illumination\":\"74\",\"is_moon_up\":1,\"is_sun_up\":0},\"hour\":[{\"time_epoch\":1695614400,\"time\":\"2023-09-25 00:00\",\"temp_c\":15.1,\"temp_f\":59.2,\"is_day\":0,\"condition\":{\"text\":\"Fog\",\"icon\":\"//cdn.weatherapi.com/weather/64x64/night/248.png\",\"code\":1135},\"wind_mph\":5.8,\"wind_kph\":9.4,\"wind_degree\":296,\"wind_dir\":\"WNW\",\"pressure_mb\":1015.0,\"pressure_in\":29.96,\"precip_mm\":0.0,\"precip_in\":0.0,\"humidity\":99,\"cloud\":100,\"feelslike_c\":15.1,\"feelslike_f\":59.2,\"windchill_c\":15.1,\"windchill_f\":59.2,\"heatindex_c\":15.1,\"heatindex_f\":59.2,\"dewpoint_c\":14.9,\"dewpoint_f\":58.9,\"will_it_rain\":0,\"chance_of_rain\":0,\"will_it_snow\":0,\"chance_of_snow\":0,\"vis_km\":2.0,\"vis_miles\":1.0,\"gust_mph\":8.2,\"gust_kph\":13.2,\"uv\":1.0},{\"time_epoch\":1695618000,\"time\":\"2023-09-25 01:00\",\"temp_c\":15.0,\"temp_f\":59.0,\"is_day\":0,\"condition\":{\"text\":\"Fog\",\"icon\":\"//cdn.weatherapi.com/weather/64x64/night/248.png\",\"code\":1135},\"wind_mph\":6.3,\"wind_kph\":10.1,\"wind_degree\":299,\"wind_dir\":\"WNW\",\"pressure_mb\":1015.0,\"pressure_in\":29.96,\"precip_mm\":0.0,\"precip_in\":0.0,\"humidity\":99,\"cloud\":100,\"feelslike_c\":14.4[...]
    {
      "request": {
        "method": "get",
        "uri": "https://www.mapquestapi.com/directions/v2/route?from=asdfasdf&key=MY_SECRET_TOKEN&to=asdfasdf",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "X-Ratelimit-Limit-2628000": [
            "15000"
          ],
          "X-Ratelimit-Remaining-2628000": [
            "14584"
          ],
          "Ratelimit-Limit": [
            "15000"
          ],
          "Ratelimit-Remaining": [
            "14584"
          ],
          "Ratelimit-Reset": [
            "2027994"
          ],
          "X-Transaction-Count": [
            "all=2,geocoding=2"
          ],
          "Etag": [
            "W/\"116-iBjgnQxNGqjY6sVCYaem2XJ/c3Q\""
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"route\":{\"routeError\":{\"errorCode\":2,\"message\":\"\"}},\"info\":{\"statuscode\":402,\"copyright\":{\"text\":\"© 2023 MapQuest, Inc.\",\"imageUrl\":\"http://api.mqcdn.com/res/mqlogo.gif\",\"imageAltText\":\"© 2023 MapQuest, Inc.\"},\"messages\":[\"We are unable to route with the given locations.\"]}}"
        }
      },
      "recorded_at": "Mon, 25 Sep 2023 16:40:06 GMT"
    }
  ],
  "recorded_with": "VCR 6.2.0"
}