{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://www.mapquestapi.com/directions/v2/route?from=denver,co&key=MY_SECRET_TOKEN&to=denver,co",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "X-Ratelimit-Limit-2628000": [
            "15000"
          ],
          "X-Ratelimit-Remaining-2628000": [
            "14403"
          ],
          "Ratelimit-Limit": [
            "15000"
          ],
          "Ratelimit-Remaining": [
            "14403"
          ],
          "Ratelimit-Reset": [
            "2016678"
          ],
          "X-Transaction-Count": [
            "all=3,geocoding=2,directions=1"
          ],
          "Etag": [
            "W/\"d51-qjrdE6Hnd6ge/7FCY/SxI5gJhZY\""
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"route\":{\"sessionId\":\"AFMA5wcAAAUBAAAHAAAABQAAAIQAAAB42mNoYWBgZGJgYGDPSC1KtUrOFeU0lmZgYGBQMNm-g8PqZJjppiKnGBC9ucgphgELIFsjMgAAPVIXorZWAYU:car\",\"realTime\":0,\"distance\":0,\"time\":0,\"formattedTime\":\"00:00:00\",\"hasHighway\":false,\"hasTollRoad\":false,\"hasBridge\":false,\"hasSeasonalClosure\":false,\"hasTunnel\":false,\"hasFerry\":false,\"hasUnpaved\":false,\"hasTimedRestriction\":false,\"hasCountryCross\":false,\"legs\":[{\"index\":0,\"hasTollRoad\":false,\"hasHighway\":false,\"hasBridge\":false,\"hasUnpaved\":false,\"hasTunnel\":false,\"hasSeasonalClosure\":false,\"hasFerry\":false,\"hasCountryCross\":false,\"hasTimedRestriction\":false,\"distance\":0,\"time\":0,\"formattedTime\":\"00:00:00\",\"origIndex\":0,\"origNarrative\":\"\",\"destIndex\":0,\"destNarrative\":\"\",\"maneuvers\":[{\"index\":0,\"distance\":0,\"narrative\":\"Head north on W Colfax Ave (I-70-BL E).\",\"time\":0,\"direction\":1,\"directionName\":\"North\",\"signs\":[],\"maneuverNotes\":[],\"formattedTime\":\"00:00:00\",\"transportMode\":\"car\",\"startPoint\":{\"lat\":39.74001,\"lng\":-104.99202},\"turnType\":0,\"attributes\":0,\"iconUrl\":\"\",\"streets\":[\"I-70-BL\",\"US-40\",\"US-287\",\"W Colfax Ave\"],\"mapUrl\":\"https://www.mapquestapi.com/staticmap/v5/map?key=MY_SECRET_TOKEN&size=225,160&locations=39.74001,-104.99202|marker-1||39.74001,-104.99202|marker-2||&center=39.74001,-104.99202&defaultMarker=none&zoom=16&session=AFMA5wcAAAUBAAAHAAAABQAAAIQAAAB42mNoYWBgZGJgYGDPSC1KtUrOFeU0lmZgYGBQMNm-g8PqZJjppiKnGBC9ucgphgELIFsjMgAAPVIXorZWAYU:car\"},{\"index\":1,\"distance\":0,\"narrative\":\"Arrive at W Colfax Ave (I-70-BL E).\",\"time\":0,\"direction\":0,\"directionName\":\"None\",\"signs\":[],\"maneuverNotes\":[],\"formattedTime\":\"00:00:00\",\"transportMode\":\"car\",\"startPoint\":{\"lat\":39.74001,\"lng\":-104.99202},\"turnType\":0,\"attributes\":0,\"iconUrl\":\"\",\"streets\":[]}]}],\"options\":{\"routeType\":\"FASTEST\",\"narrativeType\":\"text\",\"enhancedNarrative\":false,\"walkingSpeed\":-1,\"highwayEfficiency\":22,\"avoids\":false,\"generalize\":-1,\"shapeFormat\":\"raw\",\"unit\":\"M\",\"locale\":\"en_US\",\"useTraffic\":false,\"timeType\":0,\"dateType\":0,\"doReverseGeocode\":true,\"manMaps\":true,\"sideOfStreetDisplay\":true},\"boundingBox\":{\"ul\":{\"lat\":39.74001,\"lng\":-104.99202},\"lr\":{\"lat\":39.74001,\"lng\":-104.99202}},\"routeWarnings\":[],\"name\":\"I-70-BL\",\"maxRoutes\":\"\",\"locations\":[{\"street\":\"\",\"adminArea6\":\"\",\"adminArea6Type\":\"Neighborhood\",\"adminArea5\":\"Denver\",\"adminArea5Type\":\"City\",\"adminArea4\":\"Denver\",\"adminArea4Type\":\"County\",\"adminArea3\":\"CO\",\"adminArea3Type\":\"State\",\"adminArea1\":\"US\",\"adminArea1Type\":\"Country\",\"postalCode\":\"\",\"geocodeQualityCode\":\"A5XAX\",\"geocodeQuality\":\"CITY\",\"dragPoint\":false,\"sideOfStreet\":\"N\",\"linkId\":\"0\",\"unknownInput\":\"\",\"type\":\"s\",\"latLng\":{\"lat\":39.74001,\"lng\":-104.99202},\"displayLatLng\":{\"lat\":39.74001,\"lng\":-104.99202},\"mapUrl\":\"\"},{\"street\":\"\",\"adminArea6\":\"\",\"adminArea6Type\":\"Neighborhood\",\"adminArea5\":\"Denver\",\"adminArea5Type\":\"City\",\"adminArea4\":\"Denver\",\"adminArea4Type\":\"County\",\"adminArea3\":\"CO\",\"adminArea3Type\":\"State\",\"adminArea1\":\"US\",\"adminArea1Type\":\"Country\",\"postalCode\":\"\",\"geocodeQualityCode\":\"A5XAX\",\"geocodeQuality\":\"CITY\",\"dragPoint\":false,\"sideOfStreet\":\"N\",\"linkId\":\"0\",\"unknownInput\":\"\",\"type\":\"s\",\"latLng\":{\"lat\":39.74001,\"lng\":-104.99202},\"displayLatLng\":{\"lat\":39.74001,\"lng\":-104.99202},\"mapUrl\":\"\"}],\"locationSequence\":[0,1]},\"info\":{\"statuscode\":0,\"copyright\":{\"text\":\"© 2023 MapQuest, Inc.\",\"imageUrl\":\"http://api.mqcdn.com/res/mqlogo.gif\",\"imageAltText\":\"© 2023 MapQuest, Inc.\"},\"messages\":[]}}"
        }
      },
      "recorded_at": "Mon, 25 Sep 2023 19:48:42 GMT"
    },
    {
      "request": {
        "method": "get",
        "uri": "https://openlibrary.org/search.json?limit=&q=denver,co",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ],
          "X-Ol-Stats": [
            "\"SR 1 0.196 TT 0 0.221\""
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "{\n    \"numFound\": 772,\n    \"start\": 0,\n    \"numFoundExact\": true,\n    \"docs\": [\n        {\n            \"key\": \"/works/OL8503198W\",\n            \"type\": \"work\",\n            \"seed\": [\n                \"/books/OL10909613M\",\n                \"/works/OL8503198W\",\n                \"/authors/OL2843451A\"\n            ],\n            \"title\": \"Denver, Co\",\n            \"title_suggest\": \"Denver, Co\",\n            \"title_sort\": \"Denver, Co\",\n            \"edition_count\": 1,\n            \"edition_key\": [\n                \"OL10909613M\"\n            ],\n            \"publish_date\": [\n                \"January 2001\"\n            ],\n            \"publish_year\": [\n                2001\n            ],\n            \"first_publish_year\": 2001,\n            \"isbn\": [\n                \"0762507845\",\n                \"9780762507849\"\n            ],\n            \"last_modified_i\": 1338943517,\n            \"ebook_count_i\": 0,\n            \"ebook_access\": \"no_ebook\",\n            \"has_fulltext\": false,\n            \"public_scan_b\": false,\n            \"publisher\": [\n                \"Universal Map Enterprises\"\n            ],\n            \"language\": [\n                \"eng\"\n            ],\n            \"author_key\": [\n                \"OL2843451A\"\n            ],\n            \"author_name\": [\n                \"Universal Map\"\n            ],\n            \"publisher_facet\": [\n                \"Universal Map Enterprises\"\n            ],\n            \"_version_\": 1767942895778660352,\n            \"author_facet\": [\n                \"OL2843451A Universal Map\"\n            ]\n        },\n        {\n            \"key\": \"/works/OL896607W\",\n            \"type\": \"work\",\n            \"seed\": [\n                \"/books/OL10945157M\",\n                \"/works/OL896607W\",\n                \"/authors/OL79165A\"\n            ],\n            \"title\": \"Denver west, CO and Bailey, CO: Denver, CO\",\n            \"title_suggest\": \"Denver west, CO and Bailey, CO: Denver, CO\",\n            \"title_sort\": \"Denver west, CO and Bailey, CO: Denver, CO\",\n            \"subtitle\": \"39105, digital raster graphic data\",\n            \"edition_count\": 1,\n            \"edition_key\": [\n                \"OL10945157M\"\n            ],\n            \"publish_date\": [\n                \"1996\"\n            ],\n            \"publish_year\": [\n                1996\n            ],\n            \"first_publish_year\": 1996,\n            \"isbn\": [\n                \"9780607620054\",\n                \"0607620056\"\n            ],\n            \"last_modified_i\": 1272517172,\n            \"ebook_count_i\": 0,\n            \"ebook_access\": \"no_ebook\",\n            \"has_fulltext\": false,\n            \"public_scan_b\": false,\n            \"publisher\": [\n                \"USGS Branch of Distribution\"\n            ],\n            \"language\": [\n                \"eng\"\n            ],\n            \"author_key\": [\n                \"OL79165A\"\n            ],\n            \"author_name\": [\n                \"United States Geological Survey\"\n            ],\n            \"author_alternative_name\": [\n                \"Geological Survey (U. S.)\",\n                \"Geological Survey (U.S.) 088\",\n                \"United States. Geological survey.\",\n                \"United States. Geological Survey\",\n                \"U.S. Geological Survey\",\n                \"Geological Survey. (U.S.)\",\n                \"Geological Survey (U .S.)\",\n                \"Geological Survey (U.S.)\",\n                \"United States. Geological Survey.\"\n            ],\n            \"publisher_fac[...]
    {
      "request": {
        "method": "get",
        "uri": "https://www.mapquestapi.com/geocoding/v1/address?key=MY_SECRET_TOKEN&location=denver,co",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "X-Ratelimit-Limit-2628000": [
            "15000"
          ],
          "X-Ratelimit-Remaining-2628000": [
            "14396"
          ],
          "Ratelimit-Limit": [
            "15000"
          ],
          "Ratelimit-Remaining": [
            "14396"
          ],
          "Ratelimit-Reset": [
            "2016677"
          ],
          "Etag": [
            "W/\"31d-e6U4VUsIusqpoCnMOLAMG4TFeGE\""
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"info\":{\"statuscode\":0,\"copyright\":{\"text\":\"© 2023 MapQuest, Inc.\",\"imageUrl\":\"http://api.mqcdn.com/res/mqlogo.gif\",\"imageAltText\":\"© 2023 MapQuest, Inc.\"},\"messages\":[]},\"options\":{\"maxResults\":-1,\"ignoreLatLngInput\":false},\"results\":[{\"providedLocation\":{\"location\":\"denver,co\"},\"locations\":[{\"street\":\"\",\"adminArea6\":\"\",\"adminArea6Type\":\"Neighborhood\",\"adminArea5\":\"Denver\",\"adminArea5Type\":\"City\",\"adminArea4\":\"Denver\",\"adminArea4Type\":\"County\",\"adminArea3\":\"CO\",\"adminArea3Type\":\"State\",\"adminArea1\":\"US\",\"adminArea1Type\":\"Country\",\"postalCode\":\"\",\"geocodeQualityCode\":\"A5XAX\",\"geocodeQuality\":\"CITY\",\"dragPoint\":false,\"sideOfStreet\":\"N\",\"linkId\":\"0\",\"unknownInput\":\"\",\"type\":\"s\",\"latLng\":{\"lat\":39.74001,\"lng\":-104.99202},\"displayLatLng\":{\"lat\":39.74001,\"lng\":-104.99202},\"mapUrl\":\"\"}]}]}"
        }
      },
      "recorded_at": "Mon, 25 Sep 2023 19:48:43 GMT"
    },
    {
      "request": {
        "method": "get",
        "uri": "http://api.weatherapi.com/v1/forecast.json?days=5&q=39.74001,-104.99202",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "Key": [
            "1ec2e16d58cb4037b8d225426232209"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ],
          "Cdn-Pullzone": [
            "93447"
          ],
          "Cdn-Uid": [
            "8fa3a04a-75d9-4707-8056-b7b33c8ac7fe"
          ],
          "Cdn-Requestcountrycode": [
            "US"
          ],
          "Cdn-Proxyver": [
            "1.04"
          ],
          "Cdn-Requestpullsuccess": [
            "True"
          ],
          "Cdn-Requestpullcode": [
            "200"
          ],
          "Cdn-Cachedat": [
            "09/25/2023 19:48:02"
          ],
          "Cdn-Edgestorageid": [
            "1068"
          ],
          "Cdn-Status": [
            "200"
          ],
          "Cdn-Requestid": [
            "833dc8d1f91c9ba811f7ec33526967ae"
          ],
          "Cdn-Cache": [
            "HIT"
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"location\":{\"name\":\"Denver\",\"region\":\"Colorado\",\"country\":\"United States of America\",\"lat\":39.74,\"lon\":-104.99,\"tz_id\":\"America/Denver\",\"localtime_epoch\":1695671282,\"localtime\":\"2023-09-25 13:48\"},\"current\":{\"last_updated_epoch\":1695671100,\"last_updated\":\"2023-09-25 13:45\",\"temp_c\":25.5,\"temp_f\":77.9,\"is_day\":1,\"condition\":{\"text\":\"Partly cloudy\",\"icon\":\"//cdn.weatherapi.com/weather/64x64/day/116.png\",\"code\":1003},\"wind_mph\":4.3,\"wind_kph\":6.8,\"wind_degree\":230,\"wind_dir\":\"SW\",\"pressure_mb\":1025.0,\"pressure_in\":30.27,\"precip_mm\":0.0,\"precip_in\":0.0,\"humidity\":11,\"cloud\":25,\"feelslike_c\":24.1,\"feelslike_f\":75.4,\"vis_km\":16.0,\"vis_miles\":9.0,\"uv\":7.0,\"gust_mph\":3.6,\"gust_kph\":5.8},\"forecast\":{\"forecastday\":[{\"date\":\"2023-09-25\",\"date_epoch\":1695600000,\"day\":{\"maxtemp_c\":28.1,\"maxtemp_f\":82.6,\"mintemp_c\":9.9,\"mintemp_f\":49.8,\"avgtemp_c\":20.3,\"avgtemp_f\":68.5,\"maxwind_mph\":6.9,\"maxwind_kph\":11.2,\"totalprecip_mm\":0.0,\"totalprecip_in\":0.0,\"totalsnow_cm\":0.0,\"avgvis_km\":10.0,\"avgvis_miles\":6.0,\"avghumidity\":24.0,\"daily_will_it_rain\":0,\"daily_chance_of_rain\":0,\"daily_will_it_snow\":0,\"daily_chance_of_snow\":0,\"condition\":{\"text\":\"Sunny\",\"icon\":\"//cdn.weatherapi.com/weather/64x64/day/113.png\",\"code\":1000},\"uv\":6.0},\"astro\":{\"sunrise\":\"06:50 AM\",\"sunset\":\"06:52 PM\",\"moonrise\":\"05:12 PM\",\"moonset\":\"01:52 AM\",\"moon_phase\":\"Waxing Gibbous\",\"moon_illumination\":\"74\",\"is_moon_up\":1,\"is_sun_up\":1},\"hour\":[{\"time_epoch\":1695621600,\"time\":\"2023-09-25 00:00\",\"temp_c\":15.8,\"temp_f\":60.4,\"is_day\":0,\"condition\":{\"text\":\"Clear\",\"icon\":\"//cdn.weatherapi.com/weather/64x64/night/113.png\",\"code\":1000},\"wind_mph\":3.1,\"wind_kph\":5.0,\"wind_degree\":230,\"wind_dir\":\"SW\",\"pressure_mb\":1019.0,\"pressure_in\":30.09,\"precip_mm\":0.0,\"precip_in\":0.0,\"humidity\":37,\"cloud\":0,\"feelslike_c\":15.8,\"feelslike_f\":60.4,\"windchill_c\":15.8,\"windchill_f\":60.4,\"heatindex_c\":15.8,\"heatindex_f\":60.4,\"dewpoint_c\":1.3,\"dewpoint_f\":34.3,\"will_it_rain\":0,\"chance_of_rain\":0,\"will_it_snow\":0,\"chance_of_snow\":0,\"vis_km\":10.0,\"vis_miles\":6.0,\"gust_mph\":5.6,\"gust_kph\":9.0,\"uv\":1.0},{\"time_epoch\":1695625200,\"time\":\"2023-09-25 01:00\",\"temp_c\":17.1,\"temp_f\":62.7,\"is_day\":0,\"condition\":{\"text\":\"Clear\",\"icon\":\"//cdn.weatherapi.com/weather/64x64/night/113.png\",\"code\":1000},\"wind_mph\":2.9,\"wind_kph\":4.7,\"wind_degree\":228,\"wind_dir\":\"SW\",\"pressure_mb\":1018.0,\"pressure_in\":30.06,\"precip_mm\":0.0,\"precip_in\":0.0,\"humidity\":24,\"cloud\":1,\"feelslike_c\":17.1,\[...]
    {
      "request": {
        "method": "get",
        "uri": "https://www.mapquestapi.com/directions/v2/route?from=&key=MY_SECRET_TOKEN&to=",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "X-Ratelimit-Limit-2628000": [
            "15000"
          ],
          "X-Ratelimit-Remaining-2628000": [
            "14395"
          ],
          "Ratelimit-Limit": [
            "15000"
          ],
          "Ratelimit-Remaining": [
            "14395"
          ],
          "Ratelimit-Reset": [
            "2016676"
          ],
          "Etag": [
            "W/\"110-nsBg54aEZkhhw65ZsCAxIewQHEo\""
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"route\":{\"routeError\":{\"errorCode\":211,\"message\":\"\"}},\"info\":{\"statuscode\":611,\"copyright\":{\"text\":\"© 2023 MapQuest, Inc.\",\"imageUrl\":\"http://api.mqcdn.com/res/mqlogo.gif\",\"imageAltText\":\"© 2023 MapQuest, Inc.\"},\"messages\":[\"At least two locations must be provided.\"]}}"
        }
      },
      "recorded_at": "Mon, 25 Sep 2023 19:48:44 GMT"
    },
    {
      "request": {
        "method": "get",
        "uri": "https://openlibrary.org/search.json?limit=5&q=denver,co",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ],
          "X-Ol-Stats": [
            "\"SR 1 0.094 TT 0 [...]
    {
      "request": {
        "method": "get",
        "uri": "https://openlibrary.org/api/books?bibkeys=OLID:OL10909613M,%20OL10911511M,%20OL8537031M,%20OL10945157M,%20OL10910782M&format=json&jscmd=viewapi",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ],
          "X-Ol-Stats": [
            "\"MC 1 0.001 TT 0 0.004\""
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "{\"OLID:OL10909613M\": {\"bib_key\": \"OLID:OL10909613M\", \"info_url\": \"https://openlibrary.org/books/OL10909613M/Denver_Co\", \"preview\": \"noview\", \"preview_url\": \"https://openlibrary.org/books/OL10909613M/Denver_Co\"}, \" OL10911511M\": {\"bib_key\": \" OL10911511M\", \"info_url\": \"https://openlibrary.org/books/OL10911511M/Denver_Co_Deluxe_Flip_Map\", \"preview\": \"noview\", \"preview_url\": \"https://openlibrary.org/books/OL10911511M/Denver_Co_Deluxe_Flip_Map\"}, \" OL8537031M\": {\"bib_key\": \" OL8537031M\", \"info_url\": \"https://openlibrary.org/books/OL8537031M/University_of_Denver_Co_2007\", \"preview\": \"noview\", \"preview_url\": \"https://openlibrary.org/books/OL8537031M/University_of_Denver_Co_2007\", \"thumbnail_url\": \"https://covers.openlibrary.org/b/id/1847337-S.jpg\"}, \" OL10945157M\": {\"bib_key\": \" OL10945157M\", \"info_url\": \"https://openlibrary.org/books/OL10945157M/Denver_west_CO_and_Bailey_CO_Denver_CO\", \"preview\": \"noview\", \"preview_url\": \"https://openlibrary.org/books/OL10945157M/Denver_west_CO_and_Bailey_CO_Denver_CO\"}, \" OL10910782M\": {\"bib_key\": \" OL10910782M\", \"info_url\": \"https://openlibrary.org/books/OL10910782M/Denver_Co_Vicinity_(City_Wall_Maps)\", \"preview\": \"noview\", \"preview_url\": \"https://openlibrary.org/books/OL10910782M/Denver_Co_Vicinity_(City_Wall_Maps)\"}}"
        }
      },
      "recorded_at": "Fri, 15 Dec 2023 21:49:32 GMT"
    },
    {
      "request": {
        "method": "get",
        "uri": "http://api.weatherapi.com/v1/forecast.json?days=7&q=39.74001,-104.99202",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "Key": [
            "1ec2e16d58cb4037b8d225426232209"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ],
          "Cdn-Pullzone": [
            "93447"
          ],
          "Cdn-Uid": [
            "8fa3a04a-75d9-4707-8056-b7b33c8ac7fe"
          ],
          "Cdn-Requestcountrycode": [
            "US"
          ],
          "X-Weatherapi-Qpm-Left": [
            "999929"
          ],
          "Cdn-Proxyver": [
            "1.04"
          ],
          "Cdn-Requestpullsuccess": [
            "True"
          ],
          "Cdn-Requestpullcode": [
            "200"
          ],
          "Cdn-Cachedat": [
            "12/17/2023 15:17:09"
          ],
          "Cdn-Edgestorageid": [
            "718"
          ],
          "Cdn-Status": [
            "200"
          ],
          "Cdn-Requestid": [
            "9910c882c762a1395b177e799d2a7[...]
