{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://www.mapquestapi.com/directions/v2/route?from=&key=MY_SECRET_TOKEN&to=Pueblo,CO",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "X-Ratelimit-Limit-2628000": [
            "15000"
          ],
          "X-Ratelimit-Remaining-2628000": [
            "14944"
          ],
          "Ratelimit-Limit": [
            "15000"
          ],
          "Ratelimit-Remaining": [
            "14944"
          ],
          "Ratelimit-Reset": [
            "2171976"
          ],
          "Etag": [
            "W/\"110-nsBg54aEZkhhw65ZsCAxIewQHEo\""
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"route\":{\"routeError\":{\"errorCode\":211,\"message\":\"\"}},\"info\":{\"statuscode\":611,\"copyright\":{\"text\":\"© 2023 MapQuest, Inc.\",\"imageUrl\":\"http://api.mqcdn.com/res/mqlogo.gif\",\"imageAltText\":\"© 2023 MapQuest, Inc.\"},\"messages\":[\"At least two locations must be provided.\"]}}"
        }
      },
      "recorded_at": "Sun, 24 Sep 2023 00:40:24 GMT"
    },
    {
      "request": {
        "method": "get",
        "uri": "https://www.mapquestapi.com/directions/v2/route?from=&key=MY_SECRET_TOKEN&to=Pueblo,CO",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "X-Ratelimit-Limit-2628000": [
            "15000"
          ],
          "X-Ratelimit-Remaining-2628000": [
            "14943"
          ],
          "Ratelimit-Limit": [
            "15000"
          ],
          "Ratelimit-Remaining": [
            "14943"
          ],
          "Ratelimit-Reset": [
            "2171976"
          ],
          "Etag": [
            "W/\"110-nsBg54aEZkhhw65ZsCAxIewQHEo\""
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"route\":{\"routeError\":{\"errorCode\":211,\"message\":\"\"}},\"info\":{\"statuscode\":611,\"copyright\":{\"text\":\"© 2023 MapQuest, Inc.\",\"imageUrl\":\"http://api.mqcdn.com/res/mqlogo.gif\",\"imageAltText\":\"© 2023 MapQuest, Inc.\"},\"messages\":[\"At least two locations must be provided.\"]}}"
        }
      },
      "recorded_at": "Sun, 24 Sep 2023 00:40:24 GMT"
    }
  ],
  "recorded_with": "VCR 6.2.0"
}