{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://api.unsplash.com/search/photos?client_id=Tap7C4jxeX1AUgv6CUQs6oSpCsLjvM33K3YX0bSsLhM&per_page=1&query=",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ],
          "X-Unsplash-Version": [
            "v1"
          ],
          "Warning": [
            "The tags property in this endpoint is deprecated. https://changelog.unsplash.com/deprecations/2021/07/12/tags-search-deprecation.html"
          ],
          "X-Total": [
            "0"
          ],
          "X-Per-Page": [
            "1"
          ],
          "Content-Language": [
            "en"
          ],
          "Etag": [
            "W/\"7814e74bfa62dcc505522924e3c8cf4b\""
          ],
          "X-Ratelimit-Limit": [
            "50"
          ],
          "X-Ratelimit-Remaining": [
            "48"
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"total\":0,\"total_pages\":0,\"results\":[]}"
        }
      },
      "recorded_at": "Mon, 25 Sep 2023 21:23:50 GMT"
    }
  ],
  "recorded_with": "VCR 6.2.0"
}