{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://api.themoviedb.org/3/genre/movie/list?language=en",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiIxMTRlZDkyZjAzNDFiZjY1MWEwMGU1YmI5M2Y2Yzc4YyIsInN1YiI6IjY0ZTNlYjM4ZTg5NGE2MDBhZTcyMjRmOSIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.rofSx9Rd0VP-YnU2OBk13PpMJhsub2N1PUHz3znZ6Ck"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=utf-8"
          ],
          "X-Memc": [
            "HIT"
          ],
          "X-Memc-Key": [
            "f781971c95c323df5625e30d17cbce76"
          ],
          "X-Memc-Age": [
            "1561"
          ],
          "X-Memc-Expires": [
            "24690"
          ],
          "Etag": [
            "W/\"98d6f4fb3a0e0c77544a7277f32baebb\""
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"genres\":[{\"id\":28,\"name\":\"Action\"},{\"id\":12,\"name\":\"Adventure\"},{\"id\":16,\"name\":\"Animation\"},{\"id\":35,\"name\":\"Comedy\"},{\"id\":80,\"name\":\"Crime\"},{\"id\":99,\"name\":\"Documentary\"},{\"id\":18,\"name\":\"Drama\"},{\"id\":10751,\"name\":\"Family\"},{\"id\":14,\"name\":\"Fantasy\"},{\"id\":36,\"name\":\"History\"},{\"id\":27,\"name\":\"Horror\"},{\"id\":10402,\"name\":\"Music\"},{\"id\":9648,\"name\":\"Mystery\"},{\"id\":10749,\"name\":\"Romance\"},{\"id\":878,\"name\":\"Science Fiction\"},{\"id\":10770,\"name\":\"TV Movie\"},{\"id\":53,\"name\":\"Thriller\"},{\"id\":10752,\"name\":\"War\"},{\"id\":37,\"name\":\"Western\"}]}"
        }
      },
      "recorded_at": "Mon, 18 Dec 2023 01:13:35 GMT"
    }
  ],
  "recorded_with": "VCR 6.2.0"
}