{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://api.themoviedb.org/3/discover/movie?append_to_response=credits&language=en-US&page=1&sort_by=popularity.desc",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiIxMTRlZDkyZjAzNDFiZjY1MWEwMGU1YmI5M2Y2Yzc4YyIsInN1YiI6IjY0ZTNlYjM4ZTg5NGE2MDBhZTcyMjRmOSIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.rofSx9Rd0VP-YnU2OBk13PpMJhsub2N1PUHz3znZ6Ck"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=utf-8"
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"page\":1,\"results\":[{\"adult\":false,\"backdrop_path\":\"/1X7vow16X7CnCoexXh4H4F2yDJv.jpg\",\"genre_ids\":[80,18,36],\"id\":466420,\"original_language\":\"en\",\"original_title\":\"Killers of the Flower Moon\",\"overview\":\"When oil is discovered in 1920s Oklahoma under Osage Nation land, the Osage people are murdered one by one—until the FBI steps in to unravel the mystery.\",\"popularity\":1334.175,\"poster_path\":\"/dB6Krk806zeqd0YNp2ngQ9zXteH.jpg\",\"release_date\":\"2023-10-18\",\"title\":\"Killers of the Flower Moon\",\"video\":false,\"vote_average\":7.6,\"vote_count\":1414},{\"adult\":false,\"backdrop_path\":\"/ixhr0YVs0Du0fPIYQSYYOIf3j0R.jpg\",\"genre_ids\":[878,28],\"id\":854648,\"original_language\":\"en\",\"original_title\":\"Robot Apocalypse\",\"overview\":\"An expert hacker is targeted by a sentient AI after she realizes the threat it poses, and she must try to stay off its radar long enough to stop it.\",\"popularity\":1154.946,\"poster_path\":\"/zpbgktIR7GkOS83PBAzLlzLSQ5W.jpg\",\"release_date\":\"2021-07-26\",\"title\":\"Robot Apocalypse\",\"video\":[...]
    {
      "request": {
        "method": "get",
        "uri": "https://api.themoviedb.org/3/genre/movie/list?language=en",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiIxMTRlZDkyZjAzNDFiZjY1MWEwMGU1YmI5M2Y2Yzc4YyIsInN1YiI6IjY0ZTNlYjM4ZTg5NGE2MDBhZTcyMjRmOSIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.rofSx9Rd0VP-YnU2OBk13PpMJhsub2N1PUHz3znZ6Ck"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=utf-8"
          ],
          "X-Memc": [
            "HIT"
          ],
          "X-Memc-Key": [
            "f781971c95c323df5625e30d17cbce76"
          ],
          "X-Memc-Age": [
            "1561"
          ],
          "X-Memc-Expires": [
            "24690"
          ],
          "Etag": [
            "W/\"98d6f4fb3a0e0c77544a7277f32baebb\""
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"genres\":[{\"id\":28,\"name\":\"Action\"},{\"id\":12,\"name\":\"Adventure\"},{\"id\":16,\"name\":\"Animation\"},{\"id\":35,\"name\":\"Comedy\"},{\"id\":80,\"name\":\"Crime\"},{\"id\":99,\"name\":\"Documentary\"},{\"id\":18,\"name\":\"Drama\"},{\"id\":10751,\"name\":\"Family\"},{\"id\":14,\"name\":\"Fantasy\"},{\"id\":36,\"name\":\"History\"},{\"id\":27,\"name\":\"Horror\"},{\"id\":10402,\"name\":\"Music\"},{\"id\":9648,\"name\":\"Mystery\"},{\"id\":10749,\"name\":\"Romance\"},{\"id\":878,\"name\":\"Science Fiction\"},{\"id\":10770,\"name\":\"TV Movie\"},{\"id\":53,\"name\":\"Thriller\"},{\"id\":10752,\"name\":\"War\"},{\"id\":37,\"name\":\"Western\"}]}"
        }
      },
      "recorded_at": "Mon, 18 Dec 2023 01:05:04 GMT"
    },
[...]
