{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "http://api.weatherapi.com/v1/forecast.json?days=5&q=39.738453,-104.984853",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "Key": [
            "1ec2e16d58cb4037b8d225426232209"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ],
          "Cdn-Pullzone": [
            "93447"
          ],
          "Cdn-Uid": [
            "8fa3a04a-75d9-4707-8056-b7b33c8ac7fe"
          ],
          "Cdn-Requestcountrycode": [
            "US"
          ],
          "X-Weatherapi-Qpm-Left": [
            "999929"
          ],
          "Cdn-Proxyver": [
            "1.04"
          ],
          "Cdn-Requestpullsuccess": [
            "True"
          ],
          "Cdn-Requestpullcode": [
            "200"
          ],
          "Cdn-Cachedat": [
            "12/15/2023 15:02:12"
          ],
          "Cdn-Edgestorageid": [
            "1069"
          ],
          "Cdn-Status": [
            "200"
          ],
          "Cdn-Requestid": [
            "d3f9eea9f4f824996944d97d66ebb92c"
          ],
          "Cdn-Cache": [
            "MISS"
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"location\":{\"name\":\"Denver\",\"region\":\"Colorado\",\"country\":\"United States of America\",\"lat\":39.74,\"lon\":-104.98,\"tz_id\":\"America/Denver\",\"localtime_epoch\":1702652519,\"localtime\":\"2023-12-15 8:01\"},\"current\":{\"last_updated_epoch\":1702652400,\"last_updated\":\"2023-12-15 08:00\",\"temp_c\":-1.5,\"temp_f\":29.3,\"is_day\":1,\"condition\":{\"text\":\"Sunny\",\"icon\":\"//cdn.weatherapi.com/weather/64x64/day/113.png\",\"code\":1000},\"wind_mph\":9.4,\"wind_kph\":15.1,\"wind_degree\":190,\"wind_dir\":\"S\",\"pressure_mb\":1024.0,\"pressure_in\":30.23,\"precip_mm\":0.0,\"precip_in\":0.0,\"humidity\":71,\"cloud\":0,\"feelslike_c\":-4.8,\"feelslike_f\":23.3,\"vis_km\":16.0,\"vis_miles\":9.0,\"uv\":2.0,\"gust_mph\":11.7,\"gust_kph\":18.9},\"forecast\":{\"forecastday\":[{\"date\":\"2023-12-15\",\"date_epoch\":1702598400,\"day\":{\"maxtemp_c\":7.1,\"maxtemp_f\":44.9,\"mintemp_c\":0.3,\"mintemp_f\":32.5,\"avgtemp_c\":2.7,\"avgtemp_f\":36.8,\"maxwind_mph\":5.8,\"maxwind_kph\":9.4,\"totalprecip_mm\":0.0,\"totalprecip_in\":0.0,\"totalsnow_cm\":0.0,\"avgvis_km\":10.0,\"avgvis_miles\":6.0,\"avghumidity\":59.0,\"daily_will_it_rain\":0,\"daily_chance_of_rain\":0,\"daily_will_it_snow\":0,\"daily_chance_of_snow\":0,\"condition\":{\"text\":\"Sunny\",\"icon\":\"//cdn.weatherapi.com/weather/64x64/day/113.png\",\"code\":1000},\"uv\":2.0},\"astro\":{\"sunrise\":\"07:14 AM\",\"sunset\":\"04:36 PM\",\"moonrise\":\"10:08 AM\",\"moonset\":\"07:31 PM\",\"moon_phase\":\"Waxing Crescent\",\"moon_illumination\":5,\"is_moon_up\":1,\"is_sun_up\":0},\"hour\":[{\"time_epoch\":1702623600,\"time\":\"2023-12-15 00:00\",\"temp_c\":1.4,\"temp_f\":34.5,\"is_day\":0,\"condition\":{\"text\":\"Clear\",\"icon\":\"//cdn.weatherapi.com/weather/64x64/night/113.png\",\"code\":1000},\"wind_mph\":0.9,\"wind_kph\":1.4,\"wind_degree\":216,\"wind_dir\":\"SW\",\"pressure_mb\":1023.0,\"pressure_in\":30.2,\"precip_mm\":0.0,\"precip_in\":0.0,\"humidity\":73,\"cloud\":5,\"feelslike_c\":1.1,\"feelslike_f\":34.0,\"windchill_c\":1.1,\"windchill_f\":34.0,\"heatindex_c\":1.4,\"heatindex_f\":34.5,\"dewpoint_c\":-3.0,\"dewpoint_f\":26.7,\"will_it_rain\":0,\"chance_of_rain\":0,\"will_it_snow\":0,\"chance_of_snow\":0,\"vis_km\":10.0,\"vis_miles\":6.0,\"gust_mph\":1.8,\"gust_kph\":2.9,\"uv\":1.0},{\"time_epoch\":1702627200,\"time\":\"2023-12-15 01:00\",\"temp_c\":1.2,\"temp_f\":34.2,\"is_day\":0,\"condition\":{\"text\":\"Clear\",\"icon\":\"//cdn.weatherapi.com/weather/64x64/night/113.png\",\"code\":1000},\"wind_mph\":1.8,\"wind_kph\":2.9,\"wind_degree\":237,\"wind_dir\":\"WSW\",\"pressure_mb\":1023.0,\"pressure_in\":30.21,\"precip_mm\":0.0,\"precip_in\":0.0,\"humidity\":71,\"cloud\":5,\"feelslike_c\":0.3,\"[...]
