{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://www.mapquestapi.com/directions/v2/route?from=Denver,CO&key=MY_SECRET_TOKEN&to=Pueblo,CO",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "X-Ratelimit-Limit-2628000": [
            "15000"
          ],
          "X-Ratelimit-Remaining-2628000": [
            "14422"
          ],
          "Ratelimit-Limit": [
            "15000"
          ],
          "Ratelimit-Remaining": [
            "14422"
          ],
          "Ratelimit-Reset": [
            "2016686"
          ],
          "X-Transaction-Count": [
            "all=3,geocoding=2,directions=1"
          ],
          "Etag": [
            "W/\"2222-z+fZAW/hZ8qFAyeOoiG4XIVDsg8\""
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"route\":{\"sessionId\":\"AIcA5wcAAAUBAAAHAAAABQAAAJ8AAAB42mOYz8DAyMTAwMCekVqUapWcK8ppLM3AwMCgYLJ9B4fVyTDTTUVOMSB6c5FTDAMWANO47nwfWOMzkd2CTKb3Z5v-32waDaMZcAD52UobrzEwMDR4sHAE8QowKDAwOIDEG0BUgwIDFwcbAFQoIJ1ST5VB:car\",\"realTime\":6325,\"distance\":113.6227,\"time\":5917,\"formattedTime\":\"01:38:37\",\"hasHighway\":true,\"hasTollRoad\":false,\"hasBridge\":true,\"hasSeasonalClosure\":false,\"hasTunnel\":false,\"hasFerry\":false,\"hasUnpaved\":false,\"hasTimedRestriction\":false,\"hasCountryCross\":false,\"legs\":[{\"index\":0,\"hasTollRoad\":false,\"hasHighway\":true,\"hasBridge\":true,\"hasUnpaved\":false,\"hasTunnel\":false,\"hasSeasonalClosure\":false,\"hasFerry\":false,\"hasCountryCross\":false,\"hasTimedRestriction\":false,\"distance\":113.6227,\"time\":6325,\"formattedTime\":\"01:45:25\",\"origIndex\":0,\"origNarrative\":\"\",\"destIndex\":0,\"destNarrative\":\"\",\"maneuvers\":[{\"index\":0,\"distance\":0.0193,\"narrative\":\"Head toward Cherokee St on W Colfax Ave (I-70-BL E). Go for 102 ft.\",\"time\":13,\"direction\":8,\"directionName\":\"East\",\"signs\":[],\"maneuverNotes\":[],\"formattedTime\":\"00:00:13\",\"transportMode\":\"car\",\"startPoint\":{\"lat\":39.74001,\"lng\":-104.99202},\"turnType\":0,\"attributes\":0,\"iconUrl\":\"\",\"streets\":[\"I-70-BL\",\"US-40\",\"US-287\",\"W Colfax Ave\"],\"mapUrl\":\"https://www.mapquestapi.com/staticmap/v5/map?key=MY_SECRET_TOKEN&size=225,160&locations=39.74001,-104.99202|marker-1||39.74001,-104.99166|marker-2||&center=39.74001,-104.99184&defaultMarker=none&zoom=16&session=AIcA5wcAAAUBAAAHAAAABQAAAJ8AAAB42mOYz8DAyMTAwMCekVqUapWcK8ppLM3AwMCgYLJ9B4fVyTDTTUVOMSB6c5FTDAMWANO47nwfWOMzkd2CTKb3Z5v-32waDaMZcAD52UobrzEwMDR4sHAE8QowKDAwOIDEG0BUgwIDFwcbAFQoIJ1ST5VB:car\"},{\"index\":1,\"distance\":0.9861,\"narrative\":\"Make a U-Turn at Cherokee St onto W Colfax Ave[...]
[...]
    {
      "request": {
        "method": "get",
        "uri": "https://www.mapquestapi.com/geocoding/v1/address?key=MY_SECRET_TOKEN&location=Pueblo,CO",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "X-Ratelimit-Limit-2628000": [
            "15000"
          ],
          "X-Ratelimit-Remaining-2628000": [
            "14418"
          ],
          "Ratelimit-Limit": [
            "15000"
          ],
          "Ratelimit-Remaining": [
            "14418"
          ],
          "Ratelimit-Reset": [
            "2016685"
          ],
          "Etag": [
            "W/\"31d-T87culJJGxDrwATzkqg97V8/NAU\""
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"info\":{\"statuscode\":0,\"copyright\":{\"text\":\"© 2023 MapQuest, Inc.\",\"imageUrl\":\"http://api.mqcdn.com/res/mqlogo.gif\",\"imageAltText\":\"© 2023 MapQuest, Inc.\"},\"messages\":[]},\"options\":{\"maxResults\":-1,\"ignoreLatLngInput\":false},\"results\":[{\"providedLocation\":{\"location\":\"Pueblo,CO\"},\"locations\":[{\"street\":\"\",\"adminArea6\":\"\",\"adminArea6Type\":\"Neighborhood\",\"adminArea5\":\"Pueblo\",\"adminArea5Type\":\"City\",\"adminArea4\":\"Pueblo\",\"adminArea4Type\":\"County\",\"adminArea3\":\"CO\",\"adminArea3Type\":\"State\",\"adminArea1\":\"US\",\"adminArea1Type\":\"Country\",\"postalCode\":\"\",\"geocodeQualityCode\":\"A5XAX\",\"geocodeQuality\":\"CITY\",\"dragPoint\":false,\"sideOfStreet\":\"N\",\"linkId\":\"0\",\"unknownInput\":\"\",\"type\":\"s\",\"latLng\":{\"lat\":38.26375,\"lng\":-104.61252},\"displayLatLng\":{\"lat\":38.26375,\"lng\":-104.61252},\"mapUrl\":\"\"}]}]}"
        }
      },
      "recorded_at": "Mon, 25 Sep 2023 19:48:35 GMT"
    },
    {
      "request": {
        "method": "get",
        "uri": "http://api.weatherapi.com/v1/forecast.json?days=5&q=38.26375,-104.61252",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "Key": [
            "1ec2e16d58cb4037b8d225426232209"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ],
          "Cdn-Pullzone": [
            "93447"
          ],
          "Cdn-Uid": [
            "8fa3a04a-75d9-4707-8056-b7b33c8ac7fe"
          ],
          "Cdn-Requestcountrycode": [
            "US"
          ],
          "Cdn-Proxyver": [
            "1.04"
          ],
          "Cdn-Requestpullsuccess": [
            "True"
          ],
          "Cdn-Requestpullcode": [
            "200"
          ],
          "Cdn-Cachedat": [
            "09/25/2023 19:48:05"
          ],
          "Cdn-Edgestorageid": [
            "940"
          ],
          "Cdn-Status": [
            "200"
          ],
          "Cdn-Requestid": [
            "efd7a5d230a8ba4298a423dbeeda4705"
          ],
          "Cdn-Cache": [
            "HIT"
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"location\":{\"name\":\"Pueblo\",\"region\":\"Colorado\",\"country\":\"United States of America\",\"lat\":38.26,\"lon\":-104.61,\"tz_id\":\"America/Denver\",\"localtime_epoch\":1695671284,\"localtime\":\"2023-09-25 13:48\"},\"current\":{\"last_updated_epoch\":1695671100,\"last_updated\":\"2023-09-25 13:45\",\"temp_c\":26.1,\"temp_f\":79.0,\"is_day\":1,\"condition\":{\"text\":\"Sunny\",\"icon\":\"//cdn.weatherapi.com/weather/64x64/day/113.png\",\"code\":1000},\"wind_mph\":3.8,\"wind_kph\":6.1,\"wind_degree\":130,\"wind_dir\":\"SE\",\"pressure_mb\":1024.0,\"pressure_in\":30.25,\"precip_mm\":0.0,\"precip_in\":0.0,\"humidity\":24,\"cloud\":0,\"feelslike_c\":25.0,\"feelslike_f\":77.1,\"vis_km\":16.0,\"vis_miles\":9.0,\"uv\":7.0,\"gust_mph\":6.4,\"gust_kph\":10.4},\"forecast\":{\"forecastday\":[{\"date\":\"2023-09-25\",\"date_epoch\":1695600000,\"day\":{\"maxtemp_c\":30.6,\"maxtemp_f\":87.1,\"mintemp_c\":8.8,\"mintemp_f\":47.8,\"avgtemp_c\":20.1,\"avgtemp_f\":68.2,\"maxwind_mph\":8.1,\"maxwind_kph\":13.0,\"totalprecip_mm\":0.0,\"totalprecip_in\":0.0,\"totalsnow_cm\":0.0,\"avgvis_km\":10.0,\"avgvis_miles\":6.0,\"avghumidity\":38.0,\"daily_will_it_rain\":0,\"daily_chance_of_rain\":0,\"daily_will_it_snow\":0,\"daily_chance_of_snow\":0,\"condition\":{\"text\":\"Sunny\",\"icon\":\"//cdn.weatherapi.com/weather/64x64/day/113.png\",\"code\":1000},\"uv\":6.0},\"astro\":{\"sunrise\":\"06:49 AM\",\"sunset\":\"06:51 PM\",\"moonrise\":\"05:06 PM\",\"moonset\":\"01:55 AM\",\"moon_phase\":\"Waxing Gibbous\",\"moon_illumination\":\"74\",\"is_moon_up\":1,\"is_sun_up\":1},\"hour\":[{\"time_epoch\":1695621600,\"time\":\"2023-09-25 00:00\",\"temp_c\":13.4,\"temp_f\":56.1,\"is_day\":0,\"condition\":{\"text\":\"Clear\",\"icon\":\"//cdn.weatherapi.com/weather/64x64/night/113.png\",\"code\":1000},\"wind_mph\":0.4,\"wind_kph\":0.7,\"wind_degree\":306,\"wind_dir\":\"NW\",\"pressure_mb\":1020.0,\"pressure_in\":30.11,\"precip_mm\":0.0,\"precip_in\":0.0,\"humidity\":63,\"cloud\":0,\"feelslike_c\":12.8,\"feelslike_f\":55.1,\"windchill_c\":12.8,\"windchill_f\":55.1,\"heatindex_c\":13.4,\"heatindex_f\":56.1,\"dewpoint_c\":6.5,\"dewpoint_f\":43.7,\"will_it_rain\":0,\"chance_of_rain\":0,\"will_it_snow\":0,\"chance_of_snow\":0,\"vis_km\":10.0,\"vis_miles\":6.0,\"gust_mph\":0.9,\"gust_kph\":1.5,\"uv\":1.0},{\"time_epoch\":1695625200,\"time\":\"2023-09-25 01:00\",\"temp_c\":16.1,\"temp_f\":61.0,\"is_day\":0,\"condition\":{\"text\":\"Clear\",\"icon\":\"//cdn.weatherapi.com/weather/64x64/night/113.png\",\"code\":1000},\"wind_mph\":2.9,\"wind_kph\":4.7,\"wind_degree\":314,\"wind_dir\":\"NW\",\"pressure_mb\":1018.0,\"pressure_in\":30.07,\"precip_mm\":0.0,\"precip_in\":0.0,\"humidity\":44,\"cloud\":4,\"feelslike_c\":16.1,\[...]
[...]
