{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://www.mapquestapi.com/geocoding/v1/address?key=MY_SECRET_TOKEN&location=denver,co",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "X-Ratelimit-Limit-2628000": [
            "15000"
          ],
          "X-Ratelimit-Remaining-2628000": [
            "14958"
          ],
          "Ratelimit-Limit": [
            "15000"
          ],
          "Ratelimit-Remaining": [
            "14958"
          ],
          "Ratelimit-Reset": [
            "2195380"
          ],
          "Etag": [
            "W/\"31d-e6U4VUsIusqpoCnMOLAMG4TFeGE\""
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"info\":{\"statuscode\":0,\"copyright\":{\"text\":\"© 2023 MapQuest, Inc.\",\"imageUrl\":\"http://api.mqcdn.com/res/mqlogo.gif\",\"imageAltText\":\"© 2023 MapQuest, Inc.\"},\"messages\":[]},\"options\":{\"maxResults\":-1,\"ignoreLatLngInput\":false},\"results\":[{\"providedLocation\":{\"location\":\"denver,co\"},\"locations\":[{\"street\":\"\",\"adminArea6\":\"\",\"adminArea6Type\":\"Neighborhood\",\"adminArea5\":\"Denver\",\"adminArea5Type\":\"City\",\"adminArea4\":\"Denver\",\"adminArea4Type\":\"County\",\"adminArea3\":\"CO\",\"adminArea3Type\":\"State\",\"adminArea1\":\"US\",\"adminArea1Type\":\"Country\",\"postalCode\":\"\",\"geocodeQualityCode\":\"A5XAX\",\"geocodeQuality\":\"CITY\",\"dragPoint\":false,\"sideOfStreet\":\"N\",\"linkId\":\"0\",\"unknownInput\":\"\",\"type\":\"s\",\"latLng\":{\"lat\":39.74001,\"lng\":-104.99202},\"displayLatLng\":{\"lat\":39.74001,\"lng\":-104.99202},\"mapUrl\":\"\"}]}]}"
        }
      },
      "recorded_at": "Sat, 23 Sep 2023 18:10:20 GMT"
    }
  ],
  "recorded_with": "VCR 6.2.0"
}