{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://www.mapquestapi.com/directions/v2/route?from=Denver,%20CO&key=MY_SECRET_TOKEN&to=Los%20Angeles,%20CA",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "X-Ratelimit-Limit-2628000": [
            "15000"
          ],
          "X-Ratelimit-Remaining-2628000": [
            "7702"
          ],
          "Ratelimit-Limit": [
            "15000"
          ],
          "Ratelimit-Remaining": [
            "7702"
          ],
          "Ratelimit-Reset": [
            "124334"
          ],
          "X-Transaction-Count": [
            "all=3,geocoding=2,directions=1"
          ],
          "Etag": [
            "W/\"587b-VV6cXKm5n2ZhPkjFWTZvpsYoxPI\""
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"route\":{\"sessionId\":\"AMMA5wcAAFoBAAAIAAAALQAAACABAAB42mNQYGRgZGJgYGDPSC1KtUrOFeU0lgZyGRRMtu_gsDoZZrqpyCkGRG8G0gxYAEyj6f8fUiA-Y06IBMN8oVfayc7mETuAdBOQZsABeLe13nzAAmSksDE2cXgINTkoKDAINHDA5AWYGDgYHFiQtUA4DRAWi4sCAyODgAFQwMlBASLHIgDUg6SFkRGsXgDkKaDBjMiGCUDphga4kAREhUMDiHJ2OcoMAK05JGtuXrrH:car\",\"realTime\":53030,\"distance\":1017.1076,\"time\":50918,\"formattedTime\":\"14:08:38\",\"hasHighway\":true,\"hasTollRoad\":true,\"hasBridge\":true,\"hasSeasonalClosure\":false,\"hasTunnel\":true,\"hasFerry\":false,\"hasUnpaved\":false,\"hasTimedRestriction\":false,\"hasCountryCross\":false,\"legs\":[{\"index\":0,\"hasTollRoad\":true,\"hasHighway\":true,\"hasBridge\":true,\"hasUnpaved\":false,\"hasTunnel\":true,\"hasSeasonalClosure\":false,\"hasFerry\":false,\"hasCountryCross\":false,\"hasTimedRestriction\":false,\"distance\":1017.1076,\"time\":53030,\"formattedTime\":\"14:43:50\",\"origIndex\":0,\"origNarrative\":\"\",\"destIndex\":0,\"destNarrative\":\"\",\"maneuvers\":[{\"index\":0,\"distance\":0.0193,\"narrative\":\"Head toward Cherokee St on W Colfax Ave (I-70-BL E). Go for 102 ft.\",\"time\":15,\"direction\":8,\"directionName\":\"East\",\"signs\":[],\"maneuverNotes\":[],\"formattedTime\":\"00:00:15\",\"transportMode\":\"car\",\"startPoint\":{\"lat\":39.74001,\"lng\":-104.99202},\"turnType\":0,\"attributes\":0,\"iconUrl\":\"\",\"streets\":[\"I-70-BL\",\"US-40\",\"US-287\",\"W Colfax Ave\"],\"mapUrl\":\"https://www.mapquestapi.com/staticmap/v5/map?key=MY_SECRET_TOKEN&size=225,160&locations=39.74001,-104.99202|marker-1||39.74001,-104.99166|marker-2||&center=39.74001,-104.99184&defaultMarker=none&zoom=16&session=AMMA5wcAAFoBAAAIAAAALQAAACABAAB42mNQYGRgZGJgYGDPSC1KtUrOFeU0lgZyGRRMtu_gsDoZZrqpyCkGRG8G0gxYAEyj6f8fUiA-Y06IBMN8oVfayc7mETuAdBOQZsABeLe13nzAAmSksDE2cXgINTkoKDAINHDA5AWYGDgYHFiQtUA4DRAWi4sCAyODgAFQwMlBASLHIgDUg6SFkRGsXgDkKaDBjMiGCUDphga4kAREhUMDiHJ2OcoMAK05JGtuXrrH:car\"},{\"index\":1,\"[...]
[...]
    {
      "request": {
        "method": "get",
        "uri": "https://www.mapquestapi.com/geocoding/v1/address?key=MY_SECRET_TOKEN&location=Los%20Angeles,%20CA",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "X-Ratelimit-Limit-2628000": [
            "15000"
          ],
          "X-Ratelimit-Remaining-2628000": [
            "7700"
          ],
          "Ratelimit-Limit": [
            "15000"
          ],
          "Ratelimit-Remaining": [
            "7700"
          ],
          "Ratelimit-Reset": [
            "124333"
          ],
          "Etag": [
            "W/\"32d-3HPXGmF8rxpIvXo4IFh3X5j5k+g\""
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"info\":{\"statuscode\":0,\"copyright\":{\"text\":\"© 2023 MapQuest, Inc.\",\"imageUrl\":\"http://api.mqcdn.com/res/mqlogo.gif\",\"imageAltText\":\"© 2023 MapQuest, Inc.\"},\"messages\":[]},\"options\":{\"maxResults\":-1,\"ignoreLatLngInput\":false},\"results\":[{\"providedLocation\":{\"location\":\"Los Angeles, CA\"},\"locations\":[{\"street\":\"\",\"adminArea6\":\"\",\"adminArea6Type\":\"Neighborhood\",\"adminArea5\":\"Los Angeles\",\"adminArea5Type\":\"City\",\"adminArea4\":\"Los Angeles\",\"adminArea4Type\":\"County\",\"adminArea3\":\"CA\",\"adminArea3Type\":\"State\",\"adminArea1\":\"US\",\"adminArea1Type\":\"Country\",\"postalCode\":\"\",\"geocodeQualityCode\":\"A5XAX\",\"geocodeQuality\":\"CITY\",\"dragPoint\":false,\"sideOfStreet\":\"N\",\"linkId\":\"0\",\"unknownInput\":\"\",\"type\":\"s\",\"latLng\":{\"lat\":34.05357,\"lng\":-118.24545},\"displayLatLng\":{\"lat\":34.05357,\"lng\":-118.24545},\"mapUrl\":\"\"}]}]}"
        }
      },
      "recorded_at": "Sun, 17 Dec 2023 13:27:48 GMT"
    },
    {
      "request": {
        "method": "get",
        "uri": "http://api.weatherapi.com/v1/forecast.json?days=5&q=34.05357,-118.24545",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "Key": [
            "1ec2e16d58cb4037b8d225426232209"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ],
          "Cdn-Pullzone": [
            "93447"
          ],
          "Cdn-Uid": [
            "8fa3a04a-75d9-4707-8056-b7b33c8ac7fe"
          ],
          "Cdn-Requestcountrycode": [
            "US"
          ],
          "X-Weatherapi-Qpm-Left": [
            "999929"
          ],
          "Cdn-Proxyver": [
            "1.04"
          ],
          "Cdn-Requestpullsuccess": [
            "True"
          ],
          "Cdn-Requestpullcode": [
            "200"
          ],
          "Cdn-Cachedat": [
            "12/17/2023 13:27:48"
          ],
          "Cdn-Edgestorageid": [
            "1070"
          ],
          "Cdn-Status": [
            "200"
          ],
          "Cdn-Requestid": [
            "4205c9b9af9d92642369ec3839274a21"
          ],
          "Cdn-Cache": [
            "EXPIRED"
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"location\":{\"name\":\"Los Angeles\",\"region\":\"California\",\"country\":\"United States of America\",\"lat\":34.05,\"lon\":-118.25,\"tz_id\":\"America/Los_Angeles\",\"localtime_epoch\":1702819654,\"localtime\":\"2023-12-17 5:27\"},\"current\":{\"last_updated_epoch\":1702818900,\"last_updated\":\"2023-12-17 05:15\",\"temp_c\":15.6,\"temp_f\":60.1,\"is_day\":0,\"condition\":{\"text\":\"Clear\",\"icon\":\"//cdn.weatherapi.com/weather/64x64/night/113.png\",\"code\":1000},\"wind_mph\":2.2,\"wind_kph\":3.6,\"wind_degree\":10,\"wind_dir\":\"N\",\"pressure_mb\":1016.0,\"pressure_in\":30.01,\"precip_mm\":0.0,\"precip_in\":0.0,\"humidity\":25,\"cloud\":0,\"feelslike_c\":15.6,\"feelslike_f\":60.1,\"vis_km\":16.0,\"vis_miles\":9.0,\"uv\":1.0,\"gust_mph\":9.4,\"gust_kph\":15.1},\"forecast\":{\"forecastday\":[{\"date\":\"2023-12-17\",\"date_epoch\":1702771200,\"day\":{\"maxtemp_c\":24.2,\"maxtemp_f\":75.5,\"mintemp_c\":15.6,\"mintemp_f\":60.0,\"avgtemp_c\":19.0,\"avgtemp_f\":66.3,\"maxwind_mph\":4.7,\"maxwind_kph\":7.6,\"totalprecip_mm\":0.0,\"totalprecip_in\":0.0,\"totalsnow_cm\":0.0,\"avgvis_km\":10.0,\"avgvis_miles\":6.0,\"avghumidity\":15.0,\"daily_will_it_rain\":0,\"daily_chance_of_rain\":0,\"daily_will_it_snow\":0,\"daily_chance_of_snow\":0,\"condition\":{\"text\":\"Partly cloudy\",\"icon\":\"//cdn.weatherapi.com/weather/64x64/day/116.png\",\"code\":1003},\"uv\":5.0},\"astro\":{\"sunrise\":\"06:52 AM\",\"sunset\":\"04:46 PM\",\"moonrise\":\"11:04 AM\",\"moonset\":\"10:08 PM\",\"moon_phase\":\"Waxing Crescent\",\"moon_illumination\":20,\"is_moon_up\":1,\"is_sun_up\":1},\"hour\":[{\"time_epoch\":1702800000,\"time\":\"2023-12-17 00:00\",\"temp_c\":17.2,\"temp_f\":63.0,\"is_day\":0,\"condition\":{\"text\":\"Partly cloudy\",\"icon\":\"//cdn.weatherapi.com/weather/64x64/night/116.png\",\"code\":1003},\"wind_mph\":3.6,\"wind_kph\":5.8,\"wind_degree\":8,\"wind_dir\":\"N\",\"pressure_mb\":1017.0,\"pressure_in\":30.04,\"precip_mm\":0.0,\"precip_in\":0.0,\"humidity\":18,\"cloud\":44,\"feelslike_c\":17.2,\"feelslike_f\":63.0,\"windchill_c\":17.2,\"windchill_f\":63.0,\"heatindex_c\":17.2,\"heatindex_f\":63.0,\"dewpoint_c\":-7.2,\"dewpoint_f\":19.0,\"will_it_rain\":0,\"chance_of_rain\":0,\"will_it_snow\":0,\"chance_of_snow\":0,\"vis_km\":10.0,\"vis_miles\":6.0,\"gust_mph\":7.5,\"gust_kph\":12.1,\"uv\":1.0},{\"time_epoch\":1702803600,\"time\":\"2023-12-17 01:00\",\"temp_c\":17.0,\"temp_f\":62.6,\"is_day\":0,\"condition\":{\"text\":\"Partly cloudy\",\"icon\":\"//cdn.weatherapi.com/weather/64x64/night/116.png\",\"code\":1003},\"wind_mph\":4.0,\"wind_kph\":6.5,\"wind_degree\":1,\"wind_dir\":\"N\",\"pressure_mb\":1017.0,\"pressure_in\":30.03,\"precip_mm\":0.0,\"precip_in\":0.0,\"humidity\":16,\"cloud\":40,\"feelslike_c\"[...]
[...]
