{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://www.mapquestapi.com/directions/v2/route?from=Denver,CO&key=MY_SECRET_TOKEN&to=Pueblo,CO",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "X-Ratelimit-Limit-2628000": [
            "15000"
          ],
          "X-Ratelimit-Remaining-2628000": [
            "14953"
          ],
          "Ratelimit-Limit": [
            "15000"
          ],
          "Ratelimit-Remaining": [
            "14953"
          ],
          "Ratelimit-Reset": [
            "2177623"
          ],
          "X-Transaction-Count": [
            "all=3,geocoding=2,directions=1"
          ],
          "Etag": [
            "W/\"2222-tso/QPjpilZA7c6bRILeAvls8wQ\""
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"route\":{\"sessionId\":\"AIcA5wcAAAUBAAAHAAAABQAAAJ8AAAB42mOYz8DAyMTAwMCekVqUapWcK8ppLM3AwMCgYLJ9B4fVyTDTTUVOMSB6c5FTDAMWANO47nwfWOMzkd2CTKb3Z5v-32waDaMZcAD52UobrzEwMDR4sHAE8QowKDAwOIDEG0BUgwIDFwcbAFQoIJ1ST5VB:car\",\"realTime\":6357,\"distance\":113.6227,\"time\":5917,\"formattedTime\":\"01:38:37\",\"hasHighway\":true,\"hasTollRoad\":false,\"hasBridge\":true,\"hasSeasonalClosure\":false,\"hasTunnel\":false,\"hasFerry\":false,\"hasUnpaved\":false,\"hasTimedRestriction\":false,\"hasCountryCross\":false,\"legs\":[{\"index\":0,\"hasTollRoad\":false,\"hasHighway\":true,\"hasBridge\":true,\"hasUnpaved\":false,\"hasTunnel\":false,\"hasSeasonalClosure\":false,\"hasFerry\":false,\"hasCountryCross\":false,\"hasTimedRestriction\":false,\"distance\":113.6227,\"time\":6357,\"formattedTime\":\"01:45:57\",\"origIndex\":0,\"origNarrative\":\"\",\"destIndex\":0,\"destNarrative\":\"\",\"maneuvers\":[{\"index\":0,\"distance\":0.0193,\"narrative\":\"Head toward Cherokee St on W Colfax Ave (I-70-BL E). Go for 102 ft.\",\"time\":14,\"direction\":8,\"directionName\":\"East\",\"signs\":[],\"maneuverNotes\":[],\"formattedTime\":\"00:00:14\",\"transportMode\":\"car\",\"startPoint\":{\"lat\":39.74001,\"lng\":-104.99202},\"turnType\":0,\"attributes\":0,\"iconUrl\":\"\",\"streets\":[\"I-70-BL\",\"US-40\",\"US-287\",\"W Colfax Ave\"],\"mapUrl\":\"https://www.mapquestapi.com/staticmap/v5/map?key=MY_SECRET_TOKEN&size=225,160&locations=39.74001,-104.99202|marker-1||39.74001,-104.99166|marker-2||&center=39.74001,-104.99184&defaultMarker=none&zoom=16&session=AIcA5wcAAAUBAAAHAAAABQAAAJ8AAAB42mOYz8DAyMTAwMCekVqUapWcK8ppLM3AwMCgYLJ9B4fVyTDTTUVOMSB6c5FTDAMWANO47nwfWOMzkd2CTKb3Z5v-32waDaMZcAD52UobrzEwMDR4sHAE8QowKDAwOIDEG0BUgwIDFwcbAFQoIJ1ST5VB:car\"},{\"index\":1,\"distance\":0.9861,\"narrative\":\"Make a U-Turn at Cherokee St onto W Colfax Ave[...]
    {
      "request": {
        "method": "get",
        "uri": "https://www.mapquestapi.com/geocoding/v1/address?key=MY_SECRET_TOKEN&location=Pueblo,CO",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "X-Ratelimit-Limit-2628000": [
            "15000"
          ],
          "X-Ratelimit-Remaining-2628000": [
            "14952"
          ],
          "Ratelimit-Limit": [
            "15000"
          ],
          "Ratelimit-Remaining": [
            "14952"
          ],
          "Ratelimit-Reset": [
            "2177301"
          ],
          "Etag": [
            "W/\"31d-T87culJJGxDrwATzkqg97V8/NAU\""
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"info\":{\"statuscode\":0,\"copyright\":{\"text\":\"© 2023 MapQuest, Inc.\",\"imageUrl\":\"http://api.mqcdn.com/res/mqlogo.gif\",\"imageAltText\":\"© 2023 MapQuest, Inc.\"},\"messages\":[]},\"options\":{\"maxResults\":-1,\"ignoreLatLngInput\":false},\"results\":[{\"providedLocation\":{\"location\":\"Pueblo,CO\"},\"locations\":[{\"street\":\"\",\"adminArea6\":\"\",\"adminArea6Type\":\"Neighborhood\",\"adminArea5\":\"Pueblo\",\"adminArea5Type\":\"City\",\"adminArea4\":\"Pueblo\",\"adminArea4Type\":\"County\",\"adminArea3\":\"CO\",\"adminArea3Type\":\"State\",\"adminArea1\":\"US\",\"adminArea1Type\":\"Country\",\"postalCode\":\"\",\"geocodeQualityCode\":\"A5XAX\",\"geocodeQuality\":\"CITY\",\"dragPoint\":false,\"sideOfStreet\":\"N\",\"linkId\":\"0\",\"unknownInput\":\"\",\"type\":\"s\",\"latLng\":{\"lat\":38.26375,\"lng\":-104.61252},\"displayLatLng\":{\"lat\":38.26375,\"lng\":-104.61252},\"mapUrl\":\"\"}]}]}"
        }
      },
      "recorded_at": "Sat, 23 Sep 2023 23:11:39 GMT"
    },
    {
      "request": {
        "method": "get",
        "uri": "http://api.weatherapi.com/v1/forecast.json?days=5&q=38.26375,-104.61252",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "Key": [
            "1ec2e16d58cb4037b8d225426232209"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ],
          "Cdn-Pullzone": [
            "93447"
          ],
          "Cdn-Uid": [
            "8fa3a04a-75d9-4707-8056-b7b33c8ac7fe"
          ],
          "Cdn-Requestcountrycode": [
            "US"
          ],
          "Cdn-Proxyver": [
            "1.04"
          ],
          "Cdn-Requestpullsuccess": [
            "True"
          ],
          "Cdn-Requestpullcode": [
            "200"
          ],
          "Cdn-Cachedat": [
            "09/23/2023 23:12:23"
          ],
          "Cdn-Edgestorageid": [
            "940"
          ],
          "Cdn-Status": [
            "200"
          ],
          "Cdn-Requestid": [
            "5a9c48655498075a2b2f7be9b8e30c31"
          ],
          "Cdn-Cache": [
            "MISS"
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"location\":{\"name\":\"Pueblo\",\"region\":\"Colorado\",\"country\":\"United States of America\",\"lat\":38.26,\"lon\":-104.61,\"tz_id\":\"America/Denver\",\"localtime_epoch\":1695510694,\"localtime\":\"2023-09-23 17:11\"},\"current\":{\"last_updated_epoch\":1695510000,\"last_updated\":\"2023-09-23 17:00\",\"temp_c\":24.4,\"temp_f\":75.9,\"is_day\":1,\"condition\":{\"text\":\"Sunny\",\"icon\":\"//cdn.weatherapi.com/weather/64x64/day/113.png\",\"code\":1000},\"wind_mph\":17.4,\"wind_kph\":28.1,\"wind_degree\":110,\"wind_dir\":\"ESE\",\"pressure_mb\":1015.0,\"pressure_in\":29.96,\"precip_mm\":0.0,\"precip_in\":0.0,\"humidity\":29,\"cloud\":0,\"feelslike_c\":24.0,\"feelslike_f\":75.2,\"vis_km\":16.0,\"vis_miles\":9.0,\"uv\":5.0,\"gust_mph\":15.9,\"gust_kph\":25.7},\"forecast\":{\"forecastday\":[{\"date\":\"2023-09-23\",\"date_epoch\":1695427200,\"day\":{\"maxtemp_c\":28.8,\"maxtemp_f\":83.8,\"mintemp_c\":6.9,\"mintemp_f\":44.4,\"avgtemp_c\":18.0,\"avgtemp_f\":64.4,\"maxwind_mph\":14.5,\"maxwind_kph\":23.4,\"totalprecip_mm\":0.0,\"totalprecip_in\":0.0,\"totalsnow_cm\":0.0,\"avgvis_km\":10.0,\"avgvis_miles\":6.0,\"avghumidity\":28.0,\"daily_will_it_rain\":0,\"daily_chance_of_rain\":0,\"daily_will_it_snow\":0,\"daily_chance_of_snow\":0,\"condition\":{\"text\":\"Sunny\",\"icon\":\"//cdn.weatherapi.com/weather/64x64/day/113.png\",\"code\":1000},\"uv\":5.0},\"astro\":{\"sunrise\":\"06:47 AM\",\"sunset\":\"06:54 PM\",\"moonrise\":\"03:34 PM\",\"moonset\":\"No moonset\",\"moon_phase\":\"Waxing Gibbous\",\"moon_illumination\":\"52\",\"is_moon_up\":1,\"is_sun_up\":1},\"hour\":[{\"time_epoch\":1695448800,\"time\":\"2023-09-23 00:00\",\"temp_c\":15.0,\"temp_f\":59.0,\"is_day\":0,\"condition\":{\"text\":\"Overcast\",\"icon\":\"//cdn.weatherapi.com/weather/64x64/night/122.png\",\"code\":1009},\"wind_mph\":7.8,\"wind_kph\":12.6,\"wind_degree\":265,\"wind_dir\":\"W\",\"pressure_mb\":1010.0,\"pressure_in\":29.84,\"precip_mm\":0.0,\"precip_in\":0.0,\"humidity\":24,\"cloud\":100,\"feelslike_c\":14.2,\"feelslike_f\":57.5,\"windchill_c\":14.2,\"windchill_f\":57.5,\"heatindex_c\":15.0,\"heatindex_f\":59.0,\"dewpoint_c\":-5.2,\"dewpoint_f\":22.6,\"will_it_rain\":0,\"chance_of_rain\":0,\"will_it_snow\":0,\"chance_of_snow\":0,\"vis_km\":10.0,\"vis_miles\":6.0,\"gust_mph\":16.4,\"gust_kph\":26.5,\"uv\":1.0},{\"time_epoch\":1695452400,\"time\":\"2023-09-23 01:00\",\"temp_c\":14.8,\"temp_f\":58.6,\"is_day\":0,\"condition\":{\"text\":\"Overcast\",\"icon\":\"//cdn.weatherapi.com/weather/64x64/night/122.png\",\"code\":1009},\"wind_mph\":6.3,\"wind_kph\":10.1,\"wind_degree\":256,\"wind_dir\":\"WSW\",\"pressure_mb\":1011.0,\"pressure_in\":29.84,\"precip_mm\":0.0,\"precip_in\":0.0,\"humidity\":26,\"cloud\":96,\"feelslike_c\[...]
[...]
