{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://www.mapquestapi.com/geocoding/v1/address?key=MY_SECRET_TOKEN&location=denver,co",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "X-Ratelimit-Limit-2628000": [
            "15000"
          ],
          "X-Ratelimit-Remaining-2628000": [
            "14956"
          ],
          "Ratelimit-Limit": [
            "15000"
          ],
          "Ratelimit-Remaining": [
            "14956"
          ],
          "Ratelimit-Reset": [
            "2190615"
          ],
          "Etag": [
            "W/\"31d-e6U4VUsIusqpoCnMOLAMG4TFeGE\""
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"info\":{\"statuscode\":0,\"copyright\":{\"text\":\"© 2023 MapQuest, Inc.\",\"imageUrl\":\"http://api.mqcdn.com/res/mqlogo.gif\",\"imageAltText\":\"© 2023 MapQuest, Inc.\"},\"messages\":[]},\"options\":{\"maxResults\":-1,\"ignoreLatLngInput\":false},\"results\":[{\"providedLocation\":{\"location\":\"denver,co\"},\"locations\":[{\"street\":\"\",\"adminArea6\":\"\",\"adminArea6Type\":\"Neighborhood\",\"adminArea5\":\"Denver\",\"adminArea5Type\":\"City\",\"adminArea4\":\"Denver\",\"adminArea4Type\":\"County\",\"adminArea3\":\"CO\",\"adminArea3Type\":\"State\",\"adminArea1\":\"US\",\"adminArea1Type\":\"Country\",\"postalCode\":\"\",\"geocodeQualityCode\":\"A5XAX\",\"geocodeQuality\":\"CITY\",\"dragPoint\":false,\"sideOfStreet\":\"N\",\"linkId\":\"0\",\"unknownInput\":\"\",\"type\":\"s\",\"latLng\":{\"lat\":39.74001,\"lng\":-104.99202},\"displayLatLng\":{\"lat\":39.74001,\"lng\":-104.99202},\"mapUrl\":\"\"}]}]}"
        }
      },
      "recorded_at": "Sat, 23 Sep 2023 19:29:45 GMT"
    },
    {
      "request": {
        "method": "get",
        "uri": "http://api.weatherapi.com/v1/forecast.json?days=5&q=39.74001,-104.99202",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "Key": [
            "1ec2e16d58cb4037b8d225426232209"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ],
          "Cdn-Pullzone": [
            "93447"
          ],
          "Cdn-Uid": [
            "8fa3a04a-75d9-4707-8056-b7b33c8ac7fe"
          ],
          "Cdn-Requestcountrycode": [
            "US"
          ],
          "Cdn-Proxyver": [
            "1.04"
          ],
          "Cdn-Requestpullsuccess": [
            "True"
          ],
          "Cdn-Requestpullcode": [
            "200"
          ],
          "Cdn-Cachedat": [
            "09/23/2023 19:29:45"
          ],
          "Cdn-Edgestorageid": [
            "1068"
          ],
          "Cdn-Status": [
            "200"
          ],
          "Cdn-Requestid": [
            "6fd2c0939267a5d36f258167184c56a9"
          ],
          "Cdn-Cache": [
            "EXPIRED"
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"location\":{\"name\":\"Denver\",\"region\":\"Colorado\",\"country\":\"United States of America\",\"lat\":39.74,\"lon\":-104.99,\"tz_id\":\"America/Denver\",\"localtime_epoch\":1695497336,\"localtime\":\"2023-09-23 13:28\"},\"current\":{\"last_updated_epoch\":1695496500,\"last_updated\":\"2023-09-23 13:15\",\"temp_c\":22.2,\"temp_f\":72.0,\"is_day\":1,\"condition\":{\"text\":\"Partly cloudy\",\"icon\":\"//cdn.weatherapi.com/weather/64x64/day/116.png\",\"code\":1003},\"wind_mph\":5.6,\"wind_kph\":9.0,\"wind_degree\":250,\"wind_dir\":\"WSW\",\"pressure_mb\":1017.0,\"pressure_in\":30.03,\"precip_mm\":0.0,\"precip_in\":0.0,\"humidity\":9,\"cloud\":25,\"feelslike_c\":22.5,\"feelslike_f\":72.5,\"vis_km\":16.0,\"vis_miles\":9.0,\"uv\":6.0,\"gust_mph\":7.0,\"gust_kph\":11.2},\"forecast\":{\"forecastday\":[{\"date\":\"2023-09-23\",\"date_epoch\":1695427200,\"day\":{\"maxtemp_c\":24.8,\"maxtemp_f\":76.6,\"mintemp_c\":9.3,\"mintemp_f\":48.7,\"avgtemp_c\":16.8,\"avgtemp_f\":62.3,\"maxwind_mph\":11.9,\"maxwind_kph\":19.1,\"totalprecip_mm\":0.0,\"totalprecip_in\":0.0,\"totalsnow_cm\":0.0,\"avgvis_km\":10.0,\"avgvis_miles\":6.0,\"avghumidity\":40.0,\"daily_will_it_rain\":0,\"daily_chance_of_rain\":0,\"daily_will_it_snow\":0,\"daily_chance_of_snow\":0,\"condition\":{\"text\":\"Sunny\",\"icon\":\"//cdn.weatherapi.com/weather/64x64/day/113.png\",\"code\":1000},\"uv\":5.0},\"astro\":{\"sunrise\":\"06:48 AM\",\"sunset\":\"06:56 PM\",\"moonrise\":\"03:41 PM\",\"moonset\":\"No moonset\",\"moon_phase\":\"Waxing Gibbous\",\"moon_illumination\":\"52\",\"is_moon_up\":1,\"is_sun_up\":1},\"hour\":[{\"time_epoch\":1695448800,\"time\":\"2023-09-23 00:00\",\"temp_c\":16.1,\"temp_f\":61.0,\"is_day\":0,\"condition\":{\"text\":\"Clear\",\"icon\":\"//cdn.weatherapi.com/weather/64x64/night/113.png\",\"code\":1000},\"wind_mph\":3.6,\"wind_kph\":5.8,\"wind_degree\":222,\"wind_dir\":\"SW\",\"pressure_mb\":1010.0,\"pressure_in\":29.82,\"precip_mm\":0.0,\"precip_in\":0.0,\"humidity\":33,\"cloud\":0,\"feelslike_c\":16.1,\"feelslike_f\":61.0,\"windchill_c\":16.1,\"windchill_f\":61.0,\"heatindex_c\":16.1,\"heatindex_f\":61.0,\"dewpoint_c\":-0.0,\"dewpoint_f\":32.0,\"will_it_rain\":0,\"chance_of_rain\":0,\"will_it_snow\":0,\"chance_of_snow\":0,\"vis_km\":10.0,\"vis_miles\":6.0,\"gust_mph\":6.3,\"gust_kph\":10.2,\"uv\":1.0},{\"time_epoch\":1695452400,\"time\":\"2023-09-23 01:00\",\"temp_c\":14.6,\"temp_f\":58.3,\"is_day\":0,\"condition\":{\"text\":\"Clear\",\"icon\":\"//cdn.weatherapi.com/weather/64x64/night/113.png\",\"code\":1000},\"wind_mph\":2.9,\"wind_kph\":4.7,\"wind_degree\":314,\"wind_dir\":\"NW\",\"pressure_mb\":1011.0,\"pressure_in\":29.85,\"precip_mm\":0.0,\"precip_in\":0.0,\"humidity\":41,\"cloud\":1,\"feelslike_c\":14.6,[...]
