{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://www.mapquestapi.com/geocoding/v1/address?key=MY_SECRET_TOKEN&location=denver,co",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "X-Ratelimit-Limit-2628000": [
            "15000"
          ],
          "X-Ratelimit-Remaining-2628000": [
            "14392"
          ],
          "Ratelimit-Limit": [
            "15000"
          ],
          "Ratelimit-Remaining": [
            "14392"
          ],
          "Ratelimit-Reset": [
            "2016676"
          ],
          "Etag": [
            "W/\"31d-e6U4VUsIusqpoCnMOLAMG4TFeGE\""
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"info\":{\"statuscode\":0,\"copyright\":{\"text\":\"© 2023 MapQuest, Inc.\",\"imageUrl\":\"http://api.mqcdn.com/res/mqlogo.gif\",\"imageAltText\":\"© 2023 MapQuest, Inc.\"},\"messages\":[]},\"options\":{\"maxResults\":-1,\"ignoreLatLngInput\":false},\"results\":[{\"providedLocation\":{\"location\":\"denver,co\"},\"locations\":[{\"street\":\"\",\"adminArea6\":\"\",\"adminArea6Type\":\"Neighborhood\",\"adminArea5\":\"Denver\",\"adminArea5Type\":\"City\",\"adminArea4\":\"Denver\",\"adminArea4Type\":\"County\",\"adminArea3\":\"CO\",\"adminArea3Type\":\"State\",\"adminArea1\":\"US\",\"adminArea1Type\":\"Country\",\"postalCode\":\"\",\"geocodeQualityCode\":\"A5XAX\",\"geocodeQuality\":\"CITY\",\"dragPoint\":false,\"sideOfStreet\":\"N\",\"linkId\":\"0\",\"unknownInput\":\"\",\"type\":\"s\",\"latLng\":{\"lat\":39.74001,\"lng\":-104.99202},\"displayLatLng\":{\"lat\":39.74001,\"lng\":-104.99202},\"mapUrl\":\"\"}]}]}"
        }
      },
      "recorded_at": "Mon, 25 Sep 2023 19:48:45 GMT"
    },
    {
      "request": {
        "method": "get",
        "uri": "http://api.weatherapi.com/v1/forecast.json?days=5&q=39.74001,-104.99202",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "Key": [
            "1ec2e16d58cb4037b8d225426232209"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ],
          "Cdn-Pullzone": [
            "93447"
          ],
          "Cdn-Uid": [
            "8fa3a04a-75d9-4707-8056-b7b33c8ac7fe"
          ],
          "Cdn-Requestcountrycode": [
            "US"
          ],
          "Cdn-Proxyver": [
            "1.04"
          ],
          "Cdn-Requestpullsuccess": [
            "True"
          ],
          "Cdn-Requestpullcode": [
            "200"
          ],
          "Cdn-Cachedat": [
            "09/25/2023 19:48:02"
          ],
          "Cdn-Edgestorageid": [
            "1068"
          ],
          "Cdn-Status": [
            "200"
          ],
          "Cdn-Requestid": [
            "93a0a2479262b81fc77d5e05c679742c"
          ],
          "Cdn-Cache": [
            "HIT"
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"location\":{\"name\":\"Denver\",\"region\":\"Colorado\",\"country\":\"United States of America\",\"lat\":39.74,\"lon\":-104.99,\"tz_id\":\"America/Denver\",\"localtime_epoch\":1695671282,\"localtime\":\"2023-09-25 13:48\"},\"current\":{\"last_updated_epoch\":1695671100,\"last_updated\":\"2023-09-25 13:45\",\"temp_c\":25.5,\"temp_f\":77.9,\"is_day\":1,\"condition\":{\"text\":\"Partly cloudy\",\"icon\":\"//cdn.weatherapi.com/weather/64x64/day/116.png\",\"code\":1003},\"wind_mph\":4.3,\"wind_kph\":6.8,\"wind_degree\":230,\"wind_dir\":\"SW\",\"pressure_mb\":1025.0,\"pressure_in\":30.27,\"precip_mm\":0.0,\"precip_in\":0.0,\"humidity\":11,\"cloud\":25,\"feelslike_c\":24.1,\"feelslike_f\":75.4,\"vis_km\":16.0,\"vis_miles\":9.0,\"uv\":7.0,\"gust_mph\":3.6,\"gust_kph\":5.8},\"forecast\":{\"forecastday\":[{\"date\":\"2023-09-25\",\"date_epoch\":1695600000,\"day\":{\"maxtemp_c\":28.1,\"maxtemp_f\":82.6,\"mintemp_c\":9.9,\"mintemp_f\":49.8,\"avgtemp_c\":20.3,\"avgtemp_f\":68.5,\"maxwind_mph\":6.9,\"maxwind_kph\":11.2,\"totalprecip_mm\":0.0,\"totalprecip_in\":0.0,\"totalsnow_cm\":0.0,\"avgvis_km\":10.0,\"avgvis_miles\":6.0,\"avghumidity\":24.0,\"daily_will_it_rain\":0,\"daily_chance_of_rain\":0,\"daily_will_it_snow\":0,\"daily_chance_of_snow\":0,\"condition\":{\"text\":\"Sunny\",\"icon\":\"//cdn.weatherapi.com/weather/64x64/day/113.png\",\"code\":1000},\"uv\":6.0},\"astro\":{\"sunrise\":\"06:50 AM\",\"sunset\":\"06:52 PM\",\"moonrise\":\"05:12 PM\",\"moonset\":\"01:52 AM\",\"moon_phase\":\"Waxing Gibbous\",\"moon_illumination\":\"74\",\"is_moon_up\":1,\"is_sun_up\":1},\"hour\":[{\"time_epoch\":1695621600,\"time\":\"2023-09-25 00:00\",\"temp_c\":15.8,\"temp_f\":60.4,\"is_day\":0,\"condition\":{\"text\":\"Clear\",\"icon\":\"//cdn.weatherapi.com/weather/64x64/night/113.png\",\"code\":1000},\"wind_mph\":3.1,\"wind_kph\":5.0,\"wind_degree\":230,\"wind_dir\":\"SW\",\"pressure_mb\":1019.0,\"pressure_in\":30.09,\"precip_mm\":0.0,\"precip_in\":0.0,\"humidity\":37,\"cloud\":0,\"feelslike_c\":15.8,\"feelslike_f\":60.4,\"windchill_c\":15.8,\"windchill_f\":60.4,\"heatindex_c\":15.8,\"heatindex_f\":60.4,\"dewpoint_c\":1.3,\"dewpoint_f\":34.3,\"will_it_rain\":0,\"chance_of_rain\":0,\"will_it_snow\":0,\"chance_of_snow\":0,\"vis_km\":10.0,\"vis_miles\":6.0,\"gust_mph\":5.6,\"gust_kph\":9.0,\"uv\":1.0},{\"time_epoch\":1695625200,\"time\":\"2023-09-25 01:00\",\"temp_c\":17.1,\"temp_f\":62.7,\"is_day\":0,\"condition\":{\"text\":\"Clear\",\"icon\":\"//cdn.weatherapi.com/weather/64x64/night/113.png\",\"code\":1000},\"wind_mph\":2.9,\"wind_kph\":4.7,\"wind_degree\":228,\"wind_dir\":\"SW\",\"pressure_mb\":1018.0,\"pressure_in\":30.06,\"precip_mm\":0.0,\"precip_in\":0.0,\"humidity\":24,\"cloud\":1,\"feelslike_c\":17.1,\[...]
    {
      "request": {
        "method": "get",
        "uri": "http://api.weatherapi.com/v1/forecast.json?days=7&q=39.74001,-104.99202",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "Key": [
            "1ec2e16d58cb4037b8d225426232209"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ],
          "Cdn-Pullzone": [
            "93447"
          ],
          "Cdn-Uid": [
            "8fa3a04a-75d9-4707-8056-b7b33c8ac7fe"
          ],
          "Cdn-Requestcountrycode": [
            "US"
          ],
          "X-Weatherapi-Qpm-Left": [
            "999929"
          ],
          "Cdn-Proxyver": [
            "1.04"
          ],
          "Cdn-Requestpullsuccess": [
            "True"
          ],
          "Cdn-Requestpullcode": [
            "200"
          ],
          "Cdn-Cachedat": [
            "12/17/2023 15:17:09"
          ],
          "Cdn-Edgestorageid": [
            "718"
          ],
          "Cdn-Status": [
            "200"
          ],
          "Cdn-Requestid": [
            "23ae823daa3c625f50661c1ae7494[...]
